@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.container {
    font-family: 'Roboto Slab', serif;
}

.card-img {
    opacity: 0.4;
    max-height: 250px;

}

.card-img-overlay a {
    font-size: 30px;
}