@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');

.footer{
    font-family: 'Roboto Slab', serif;
}

#footerStyling {
    background-color: #264653;
}

.lead {
    color: #f4a261 ;
}